<div class="col">
    <div class="card h-100 hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-project-title">{{ project.title }}</h2>
        {% if project.company %}
          <p class="card-extra-text">By {{ project.company }}</p>
        {% endif %}
        {% if project.platform %}
          <p class="card-extra-text">{{ project.platform }}</p>
        {% endif %}
        {% if project.link %}
          <p class="card-extra-text">{{ project.link }}</p>
        {% endif %}
        <p class="card-main-text">{{ project.description }}</p>
        {% if project.role %}
          <p class="card-role">{{ project.role }}</p>
        {% endif %}
        {% if project.info %}
          <p class="card-info-link">➤ {{ project.info }}</p>
        {% endif %}
        <div class="row ml-1 mr-1 p-0">
          {% if project.github %}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
              {% if project.github_stars %}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fa-solid fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
</div>
